.nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;

    background: transparent;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

.nav-logo {
    height: 50px;
    width: auto;
    color: transparent;
}

.nav-links {
    display: flex;
    padding: 0;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    transition: color 0.25s ease;
}

.nav-links a:hover {
    opacity: 0.8;
    color: #6B7280;
}