.get-users-name {
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Amp", sans-serif;
}

.name {
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-decoration: none;
    padding: 3px;
    box-shadow: 0px 0px 5px rgba(42, 42, 42, 0.0);
    transition: box-shadow 0.3s ease-in-out;
}

.name:hover {
    box-shadow: 0 0 5px rgba(42, 42, 42, 0.5)
}

.name:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(42, 42, 42, 0.5)
}